<% include partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" action="/reqs" method="POST">
              <div class="form-group">
                <input type="text" id="reqname" class="form-control" name="requisition" placeholder="New Req">
              </div>
              <button type="submit" id="addreq" class="btn btn-primary">Enter</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <ul id="reqlist">
                    <% user.requisitions.forEach(function(req) { %>
                            <li><a href="/reqs/<%= req._id %>"><%= req.role %></a></li>
                    <% }); %>
                </ul>
            </div>
        </div>
        
    </div>
    
    
</div>




<% include partials/footer %>