<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline" action="/pipeline" method="POST">
              <div class="form-group">
                <input type="text" class="form-control" name="requisition" placeholder="New Req">
              </div>
              <button type="submit" class="btn btn-primary">Enter</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
               
              <ul class="nav nav-tabs" role="tablist">
                <% user.requisitions.forEach(function(req) { %>
                   <li role="presentation"><a href="#<%= req.role %>" aria-controls="<%= req.role %>" role="tab" data-toggle="tab"><%= req.role %></a></li> 
                <% }) %>
              </ul>
            
              
              <div class="tab-content">
                <% user.requisitions.forEach(function(req) { %>
                    <div role="tabpanel" class="tab-pane" id="<%= req.role %>">
                      <form class="form-inline">
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail3">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> 1st Contact
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> 2nd Contact
                          </label>
                        </div>
                        <select>
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option>
                        </select>
                        <button type="submit" class="btn btn-default">Add</button>
                      </form>
                    </div>
                <% }) %>
              </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>