<% include ./partials/header %>

<div class="jumbotron">
  <h1>Welcome to Pipeline!</h1>
  <p>Sign up to keep track of your candidates with ease.</p>
</div>

<div id="registerDiv">
    <h1 id="registerH1">Register</h1>
    <hr>
    <form action="/register" method="POST">
        <div class="form-group">
           <input class="loginTxt" type="email" name="username" placeholder="Email"> 
        </div>
        <div class="form-group">
           <input class="loginTxt" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
           <input class="loginTxt" type="password" name="confirm" placeholder="Confirm password">
        </div>
        <div id="buttonHolder">
           <button class="btn btn-primary btn-lg">Sign Up</button>
        </div>
        <div id="aHolder">
            <a href="/login">Already registered? Login!</a>
        </div>
        
    </form>
</div>


<% include ./partials/footer %>